<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <link rel="shortcut icon" href="{{ asset('images/logo_neutre.jpg') }}" type="image/x-icon"> #}
        <title>Connection administration</title>

        {# Chargement CDNs #}
        <link rel="stylesheet" href="{{ asset('adminlte/dist/css/adminlte.min.css') }}">
    </head>
    <body>

        <div class="container mb-5">

            <div class="w-50 mx-auto mb-5">
                <header>
                    {# <a href="{{ path('home') }}" title="Accueil">Retour vers site</a> #}
                    <h1 class="text-center" >Connection administration du site</h1>
                </header>

                <main>
                    <form method="post" class="mb-5">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="my-3 text-center">
                                <p>Vous êtes connecté en tant que {{ app.user.username }}</p>
                                <p><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
                            </div>
                        {% else %}    
                            <p class="h3 my-5 font-weight-normal text-center">Veuillez vous connecter</p>

                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            <button class="btn btn-primary mt-4" type="submit">
                                Se connecter
                            </button>
                        {% endif %}
                    </form>                
                
                </main>

            </div>

        </div>

        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="{{ asset('adminlte/plugins/jquery/jquery.min.js')}}"></script>
        <!-- Bootstrap 4 -->
        <script src="{{ asset('adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('adminlte/dist/js/adminlte.min.js') }}"></script>
    </body>
</html>

