{{ form_start(form) }}

{{ form_row(form.position) }}
{{ form_row(form.position_order) }}
{{ form_row(form.type) }}
{{ form_row(form.is_active) }}

<div class="form-group" id="external-link-field">
	<label for="externalLink">Saisir un lien sortant</label>
	<input class="form-group w-100" name="externalLink" id="externalLink" value="{{ (link.type == 'external') ? link.hyperlink : '' }}">
</div>

<div class="form-group" id="shows-fields-list" data-url-path="{{ absolute_url(path('give_shows')) }}">
	<label for="select_show">Sélectionnez un concert</label>
	<select class="form-group w-100" name="show" id="select_show">
		<option value="{{ (link.type == '/show/') ? link.hyperlink |replace({'/show/': ''}) : '' }}">
			{{ (link.type == '/show/') ? link.title : '' }}
		</option>
	</select>
</div>

<div class="form-group" id="posts-fields-list" data-url-path="{{ absolute_url(path('give_posts')) }}">
	<label for="select_post">Sélectionnez un article</label>
	<select class="form-group w-100" name="post" id="select_post">
		<option value="{{ (link.type == '/post/') ? link.hyperlink |replace({'/post/': ''}) : '' }}">
			{{ (link.type == '/post/') ? link.title : '' }}
		</option>
	</select>
</div>

{{ form_row(form.title) }}

{{ form_row(form.alt) }}

{{ form_row(form.content) }}

{{ form_row(form.imageFile) }}

{{ form_row(form.is_video) }}

{{ form_row(form.uploaded_at) }}

<button class="btn btn-success my-5">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
